.sidebar {
    border-right: 1px solid rgba($color: $secondary, $alpha: .12);
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    &__header {
        color: $secondary;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 20px;
    }

    &__links-item {
        color: $secondary;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        padding: 10px 20px;
        display: block;
        margin-bottom: 10px;

        &:hover {
            background: rgba($color: $secondary, $alpha: .04);
        }

        &--active {
            background: rgba($color: $secondary, $alpha: .04);
            position: relative;

            &::after {
                content: ' ';
                background: $primary;
                width: 5px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}