.header {
    padding: 10px 20px;
    position: relative;

    &__title {
        color: $secondary;
        font-size: 40px;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
    }

    &__text {
        color: $secondary;
        font-size: 16px;
        position: relative;
        display: block;
    }

    .v-divider {
        background: rgba($color: $secondary, $alpha: .25);
        width: 2px;
        height: 10px;
        display: inline-block;
        margin: 0 10px;
    }

    &__buttons {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        button {
            margin-left: 15px;
        }
    }
}