.meal-plan {
    
    &__header {
        border: 1px solid rgba($color: $secondary, $alpha: .12);
        display: flex;
        padding: 15px 0;
    }

    &__header-item {
        border-right: 1px solid rgba($color: $secondary, $alpha: .12);
        color: $secondary;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        float: left;
        width: 14.28%;
        padding: 0 15px;

        &:last-of-type {
            border-right: 0;
        }
    }

    &__body {
        height: calc(100vh - 239px);
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__body-row {
        border-right: 1px solid rgba($color: $secondary, $alpha: .12);
        display: flex;
        margin-top: 20px;
    }

    &__body-item {
        border: 1px solid rgba($color: $secondary, $alpha: .12);
        border-right: 0;
        float: left;
        width: 14.28%;
        padding: 15px;

        .meal-label {
            color: $secondary;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .meal-time {
            color: $secondary;
            font-size: 14px;
            font-weight: 300;
            margin: 5px 0;
        }

        .meal-item {
            color: $secondary;
            font-size: 16px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}